﻿@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
</head>
<body>
    <div class="container" style="margin:10px;" id="men">
        <div>
            <div class="col-md-12">
                <label>Last request date and time: {{dateNow}}</label>
            </div>
        </div>
        <div>
            <div class="col-md-2 text-nowrap">
                <label for="userId">Enter vk user Id:</label>
            </div>
            <div class="col-md-2">
                <input type="text" v-model="userId" name="userId" id="userId" />
            </div>
            <div class="col-md-2">
                <input v-on:click="submit()" type="button" value="Submit" />
            </div>
            <div class="col-md-6">
                <template v-if="IsHasResponse">
                    <ul class="list-group">
                        <li class="list-group-item">Id: {{Id}}</li>
                        <li class="list-group-item">First name: {{first_name}}</li>
                        <li class="list-group-item">Last name: {{last_name}}</li>
                        <li class="list-group-item">Online: {{online}}</li>
                        <li class="list-group-item">Last seen time: {{last_seen_time}}</li>
                        <li class="list-group-item">Last seen platform: {{last_seen_platform}}</li>
                    </ul>
                </template>
                <template v-else>
                    <label class="label-warning">{{errorMessage}}</label>
                </template>
            </div>
        </div>
    </div>
</body>
<script src="~/js/site.js"></script>
