﻿@{
    Layout = null;
    ViewData["Title"] = "Test Page";
}
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="container" id="app">
        <span v-on:click="changeText">Текст</span>
        <p>{{title}}</p>
        <p :class="styleCSS">Цвет: {{styleCSS}}</p>
        <input type="text" v-on:input="styleCSS = $event.target.value" />
        <br />

        <input type="text" v-on:input="increment($event.target.value)" />
        <p>{{value}}</p>
        <p>{{doubleValue}}</p>
        <br />
        <button v-on:click="showHideText">Скрыть/показать исчезающий текст</button>
        <p v-if="show">Исчезающий текст</p>
        <p v-else>else Исчезающий текст</p>
        <ul>
            <li v-for="(car, i) in cars">{{i}} - {{ car.model }}, speed: {{car.speed}}</li>
        </ul>
    </div>
</body>
<script>
    //import axios from 'axios';

    new Vue({
        el: '#app',
        data: {
            title: "Hello, world!",
            styleCSS: "",
            value: 1,
            //doubleValue: 1,
            show: true,
            cars: [
                    { model: "BMW", speed: 250 },
                    { model: "Mercedes-benz", speed: 260 },
                    { model: "Lada", speed: 160 }
                ]
        },
        methods: {
            changeText() {
                this.title = '123123';
            },
            increment(value) {
                this.value = value;
                //this.doubleValue = value * 2;
            },
            showHideText() {
                this.show = !this.show;
            }
        },
        computed: {
            doubleValue() {
                return this.value * 2;
            }
        }
    });
</script>
