﻿@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">

    <script defer id="common-js" data-main="myModule.js" src="~/js/common.min.js"></script>
    <script src="~/js/myModule.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div class="container" style="margin:10px;" id="men">
        
    </div>
</body>
<script src="~/js/webpackTest.js"></script>
